.HappyEnd {
  position: relative;
  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    // .footer {
    //   position: absolute;
    //   z-index: 0;
    //   max-width: 700px;
    //   width: 100%;
    //   bottom: -150px;
    //   max-height: 1100px;
    //   height: 120vw;
    //   @media (max-width: 631px) {
    //     height: 757px;
    //   }
    // }
    .ourDay {
      position: relative;
      padding: 25px;
      max-width: 700px;
      width: 100%;
      height: 100vh; // Задаем высоту контейнера
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin: 0 auto;
      color: #fff;
      z-index: 1;
      h1 {
        font-size: calmp(10px 3vw, 24px);
        font-weight: 300;
        text-align: center;
        margin: 65px 0;
        text-shadow: 
            0 2px 2px #555, 
          0 0 5px #eee;
      }
      .time {
        width: 100%;
        display: flex;
        align-items: flex-end;
        position: relative;
        justify-content: center;
        gap: 20px;
        z-index: 100;
        @media (max-width: 550px) {
          gap: 10px;
          width: 100%;
        }
        h2 {
          position: relative;
          text-shadow: 0 2px 2px #555, 0 0 5px #eee;
          max-width: 110px;
          width: 100%;
          max-height: 110px;
          height: 23vw;
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: flex-start;
          font-size: clamp(36px, 12vw, 68px);
          font-weight: 350;
          padding: 0;
          span {
            position: absolute;
            bottom: -10px;
            display: flex;
            align-items: center;
            font-size: clamp(12px, 2vw, 16px);
            font-weight: 300;
            text-shadow: 0 2px 2px #555, 0 0 5px #eee;
          }
        }
      }
      .inithial {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
        gap: 25px;
        .inits {
          filter: drop-shadow(0 2px 2px #555);
        }
        .line {
          width: 4px;
          height: 100%;
          background-color: #fff;
          border-radius: 20px;
          box-shadow: 
            0 2px 2px #555, 
            0 0 5px #eee;
        }
      }
    }
  }
}
