.Header {
  padding-block: 14px;
  position: fixed;
  z-index: 2;
  background-color: transparent;

  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #FFF;
    .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      
    }
  }
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.modalContent {
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  position: relative;
  p {
    font-size: 12px;
    font-weight: 300;
    text-shadow: 
      0 2px 2px #555,
      0 0 5px #eee;
  }
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}
