.Gps {
  width: 100%;
  height: auto;
  background-color: #FFF;
  color: #000;
  padding: clamp(15px, 2vw, 30px);
  .content {
    .gps_modal {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 20px;
      
      h1 {
        font-size: clamp(30px, 5vw, 64px);
        font-weight: 550;
      }
      p {
        max-width: 600px;
        width: 100%;
        font-size: clamp(16px, 3vw, 24px);
        text-align: center;
        strong {
          font-size: 36px;
        }
      }
      button {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        border: 3px solid #000;
        width: 250px;
        height: 50px;
        cursor: pointer;
        border-radius: 10px;
      }
    }
  }
}
